html {
  background-color: #f8f8d7;
}
body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  font-family: "Sono", sans-serif;
  place-items: center;
  z-index: -10000;
}
header {
  background-color: antiquewhite;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

nav {
  font-size: small;
  background-color: #f0ed3960;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin: 0 15px;
}
footer {
  background-color: antiquewhite;
  font-size: 0.8em;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

.container {
  margin: 0;
  margin-top: 50px;
  display: grid;
  gap: 2rem;
  width: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  justify-content: center;
  align-content: center;
  border-radius: 25px;
  padding-bottom: 50px;
  z-index: 100;
}

.how,
.backend,
.important {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(225, 167, 236, 0.37);
  width: 100%;
  z-index: 100;
}

.backend {
  background-color: rgba(196, 195, 247, 0.349);
}

.important {
  background-color: rgba(179, 241, 236, 0.199);
}
